csharp/.vs
csharp/siam_client/bin/
csharp/siam_client/obj/
java/siam_client/build/
java/siam_client/dist/
java/siam_client/nbproject/private/private.properties
java/siam_client/src/META-INF/
java/siam_client/xml-resources/web-service-references/nfse/
java/siam_client/nbproject/private/private.xml
